params {
    config_profile_description = 'New York University HPC profile'
    config_profile_contact     = 'HPC@nyu.edu'
    config_profile_url         = 'https://services.rt.nyu.edu'

    max_memory                 = 3000.GB
    max_cpus                   = 128
    max_time                   = 7.d
}

singularity {
    enabled     = true
    autoMounts  = true
    runOptions = "-B /scratch"  
}

apptainer {
    autoMounts = true 
    runOptions = "-B /scratch"
}

process {
    clusterOptions  = "--account=${System.getenv('SLURM_ACCOUNT')}"

    resourceLimits = [
        memory: 3000.GB,
        cpus: 128,
        time: 7.d
    ]
    executor       = 'slurm'
    clusterOptions = '--export=NONE'
    maxRetries     = 3
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'finish' }
    cache          = 'lenient'
}

executor {
    queueSize       = 1900
    submitRateLimit = '20 sec'
}
