params {
  config_profile_description = 'New York University HPC profile provided by nf-core/configs.'
  config_profile_contact = 'HPC@nyu.edu'
  config_profile_url = 'https://hpc.nyu.edu'
}

// Write to $TMPDIR
scratch true

profiles {

  slurm {
    process {
      executor = 'slurm'
      clusterOptions = '--export=NONE'
      maxRetries = 2
      errorStrategy { task.exitStatus in 127 ? 'terminate' : 'retry' }
      beforeScript = 'module load mambaforge/23.1.0'  
    }
    params {
      max_memory = 3000.GB
      max_cpus = 96
      max_time = 7.d
    }
    executor {
      queueSize = 250
      submitRateLimit = '10 sec'
    }
  }
    
  k8s {
    process {
      executor = 'k8s'
      container = 'image-registry.openshift-image-registry.svc:5000/cgsb-nextflow/miniconda3'
      maxRetries = 2
      errorStrategy { task.exitStatus in 127 ? 'terminate' : 'retry' }
    }
    params {
      max_memory = 3000.GB
      max_cpus = 24
      max_time = 1.d
    }
    executor {
      queueSize = 250
      submitRateLimit = '10 sec'
    }
    k8s {
      storageClaimName = 'cgsb-test-1'
      storageMountPath = '/nextflow'
      computeResourceType = 'Job'
    } 
  }
}
